:root {
  --font-color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr;

  /* might want to look for another background
    background: linear-gradient(rgba(37,35,35,0.5), rgba(37, 35, 35, 0.5)), url('../images/stone-water-ripple-clipart-10-1170x658.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0px;
  z-index: -1000;
  overflow: hidden;
  justify-items: center;
}

.loginStyle {
  border: none;
  text-decoration: none;
  outline: none;
  background: transparent;
}

* {
  box-sizing: border-box;
}

.navItem {
  margin-right: 3em;
  text-decoration: none;
}

@media only screen and (min-width: 1398px) {
  .video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
    filter: grayscale(50%);
    min-height: 100vh;
  }

  .container {
    grid-template-columns: 2fr 5fr;
    grid-template-areas: "aside content";
  }

  .title {
    font-family: duke;
    font-size: 300px;
    letter-spacing: 18px;
    text-align: center;
    color: var(--font-color);
  }

  aside {
    display: grid;
    grid-area: aside;
    grid-template-areas:
      "dream"
      "plan"
      "execute";
    font-family: franchise;
    font-size: 6em;
    color: var(--font-color);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .dream {
    letter-spacing: 18px;
    grid-area: dream;
  }

  .plan {
    letter-spacing: 33px;
    grid-area: plan;
  }

  .execute {
    letter-spacing: 5px;
    grid-area: execute;
  }
  .subtitleOne {
    display: none;
  }

  .subtitleTwo {
    font-family: franchise;
    font-size: 50px;
    text-align: center;
    color: var(--font-color);
  }

  .loginStyle {
    font-family: franchise;
    font-size: 50px;
    text-align: center;
    margin-left: 140px;
    color: var(--font-color);
    margin-top: 10%;
  }

  .content {
    margin-top: 13%;
    margin-left: 45%;
    grid-area: content;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1398px) {
  .video-background {
    display: none;
  }

  .container {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: 0;
    min-height: 100vh;
    background-image: url(../images/climb1.jpeg);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content";
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-family: duke;
    font-size: 300px;
    text-align: center;
    color: white;
  }

  .subtitleOne {
    font-family: franchise;
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
  }

  .subtitleTwo {
    font-family: franchise;
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
  }

  .loginStyle {
    font-family: franchise;
    font-size: 50px;
    text-align: center;
    margin-left: 140px;
    color: whitesmoke;
  }

  .content {
    grid-area: content;
    min-height: 100vh;
  }

  aside {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .video-background {
    display: none;
  }

  aside {
    display: none;
  }

  .container {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: 0;
    background-image: url(../images/workout1.jpeg);
    min-height: 100vh;
    grid-area: content;
    grid-template-rows: 1fr min-content;
    background-size: cover;
  }

  .title {
    font-family: duke;
    font-size: 300px;
    text-align: center;
    color: white;
  }

  .subtitleOne {
    font-family: franchise;
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
  }

  .subtitleTwo {
    font-family: franchise;
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
  }

  .loginStyle {
    font-family: franchise;
    font-size: 50px;
    text-align: center;
    margin-left: 140px;
    color: whitesmoke;
  }

  .content {
    margin-top: 1%;
    min-height: 100vh;
  }
}
