/*not using it now because conflict between pages */

:root {
  --font-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 1398px) {
  .p-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    font-family: Helvetica Neue;
    grid-template-columns: "1fr 1fr 1fr 1fr";
    grid-template-areas: "profile plan habit daily";
    text-align: center;
  }

  .p-profile {
    background-color: blue;
    grid-area: profile;
    display: grid;
    justify-items: center;
    white-space: nowrap;
    overflow: hidden;
  }

  .p-profile p {
    white-space: initial;
  }

  .p-plan {
    background-color: hotpink;
    grid-area: plan;
    width: 100%;
    height: 100%;
  }

  .p-habit {
    background-color: lightGreen;
    grid-area: habit;
    width: 100%;
    height: 100%;
  }

  .p-daily {
    background-color: white;
    grid-area: daily;
    width: 100%;
    height: 100%;
  }

  .userphoto {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1398px) {
  .p-container {
    display: grid;
    background: none;
    height: 100vh;
    width: 100vw;
    grid-template-columns: "1fr 1fr 1fr 1fr";
    grid-template-areas: "profile plan habit daily";
  }

  .p-profile {
    background-color: blue;
    grid-area: profile;
    display: grid;
    justify-items: center;
  }

  .p-plan {
    background-color: hotpink;
    grid-area: plan;
  }

  .p-habit {
    background-color: lightGreen;
    grid-area: habit;
  }

  .p-daily {
    background-color: white;
    grid-area: daily;
  }

  .userphoto {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
  }
}

@media only screen and (max-width: 600px) {
  .p-container {
    background: none;
    display: grid;
    height: 100vh;
    grid-template-columns: "1fr";
    grid-template-rows: "1fr 1fr 1fr 1fr";
    grid-template-areas:
      "profile"
      "plan"
      "habit"
      "daily";
  }

  .p-profile {
    background-image: none;
    background-color: blue;
    grid-area: profile;
    display: grid;
    width: 100%;
    height: 100%;
    justify-items: center;
  }

  .p-plan {
    background-color: hotpink;
    grid-area: plan;
  }

  .p-habit {
    background-color: lightGreen;
    grid-area: habit;
  }

  .p-daily {
    background-color: green;
    grid-area: daily;
  }

  .userphoto {
    display: none;
  }
}
